*{
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction:column;
    width: 15%;
}

.sidebarButton{
    margin: 1vw;
    height: 4vh;
    background-color: rgba(107, 237, 107, 0.771);
    border-radius: 5%;
}

.sidebarButton:hover{
    background-color: rgba(6, 146, 6, 0.771);
}

.content{
    display: flex;
    flex-direction: row;
}

h1{
    margin-left: 20vw;
}

.prod-area{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding:0 1rem;
    border-radius: 5px;
}
.prod-title{
    display: flex;
    flex-direction: row;
    
}