*{
    box-sizing: border-box;
}
body{
    direction: rtl;
    margin: 0;
}
nav{
    background-color: cornflowerblue;
    width: 100%;
    height: max-content;
    padding: 1rem;
}
.sidebar{
    display: flex;
    flex-direction:column;
    width: 15%;
    border: 1px solid #ccc;
}

.sidebarButton{
    margin: 1vw;
    height: 4vh;
    background-color: #6bedccc5;
    border-radius: 5px;
    border: 1px solid black;
}

.sidebarButton:hover{
    background-color: rgba(6, 127, 146, 0.771);
}

.content{
    display: flex;
    flex-direction: row;
}

h1{
    padding: auto;
    text-align: center;
}

.prod-area{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1rem;
}

.product{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 20%;
    row-gap: 5%;
    height: 20rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
}
.prod-title{
    grid-row: 1/2;
    grid-column: 1/3;
    margin: 0;
    width: 100%;
}

.product img{
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/3;
    object-fit: cover;
}
.product p{
    grid-row: 3/3;
    grid-column: 2/3;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: auto;
    margin: auto;
}
.product button{
    grid-row: 3/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    background-color:#6b96edc5 ;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product button:hover{
    background-color:#0f3888c5 ;
}